# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*
*.log
.cache/
.pytest_cache/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Streamlit
.streamlit/

# Data/DB
*.db
*.sqlite
*.sqlite3
/data/

# TeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof

# Ignore local source text
finalReport.text
